.Cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .cart-content {
        height: 100vh;
        width: 320px;
        position: relative;
        background-color: white;
        animation: cartSlider 0.3s ease forwards;
        transform: translateX(100%);
    }

}

@keyframes cartSlider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 480px) {
    .Cart .cart-content {
        width: 100%;
    }
}