.Hero {
    height: 80vh;
    background-image: url('../../assets/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    .hero-content {
        height: 100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        gap: 10px;
        text-align: center;

        .heading {
            color: white;
            font-size: 3rem;
        }

        .subheading {
            color: whitesmoke;
            font-size: 1.2rem;
        }

        .cta {
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 640px) { 
    .Hero {
        height: 60vh;
        .hero-content {
            .heading {
                font-size: 2rem;
            }
            .subheading {
                font-size: 1rem;
            }
        }
    }
}