.Home {
    .collection {
        margin-top: 80px;

        .info {
            text-align: center;
            padding-bottom: 10px;
            .subheading {
                margin-top: 10px;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 40px;
            column-gap: 20px;
            margin-top: 20px;
        }
    }
}