.Category {
    width: 32%;
    aspect-ratio: 16/9;
    background-image: url('../../assets/poster.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    .category-content {
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transition: 0.2s ease;

        .heading {
            color: white;
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }
}

@media screen and (max-width: 768px) {
    .Category {
        width: 48%;
    }
    
}

@media screen and (max-width: 480px) {
    .Category {
        width: 100%;
    }
    
}