.ProductDetail {
    margin-top: 40px;
    .product-layout {
        display: flex;

        .product-img {
            max-width: 600px;
            min-width: 400px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                object-fit: contain;
                transform: scale(0.9);
            }
        }

        .product-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .cart-options {
                .quantity-selector {
                    border: 1px solid var(--secondary-text-color);
                    width: fit-content;

                    .btn {
                        padding: 8px 16px;
                        background-color: #eee;
                        color: var(--primary-text-color);
                        display: inline-block;
                        cursor: pointer;
                        font-size: 1.2rem;
                        user-select: none;
                        &:hover {
                            background-color: #ddd;
                        }
                        &:active {
                            background-color: #eee;
                        }
                    }

                    .quantity {
                        text-align: center;
                        width: 60px;
                        display: inline-block;
                        font-weight: 700;
                    }
                }

                .add-to-cart {
                    margin-top: 30px;
                }
            }

            .return-policy {
                border-top: 1px dashed #ccc;
                color: var(--secondary-text-color);
                font-size: 0.8rem;
                margin-top: 20px;
                padding-top: 10px;

                ul {
                    list-style: circle;
                    li {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .ProductDetail {
        .product-layout {
            flex-direction: column;
        }
    }
}
