.Navbar {
    background-color: var(--primary-text-color);
    height: 80px;
    z-index: 99;
    color: white;
    text-transform: uppercase;
    position: sticky;
    top: 0;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .nav-left {
            .link-group {
                list-style: none;
                display: flex;
                gap: 16px;

                .link {
                    display: inline-block;
                    padding: 6px;
                }
            }
        }

        .nav-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--primary-text-color);

            .banner {
                color: white;
            }
        }

        .nav-right {
            .nav-cart {
                position: relative;
                padding: 6px;
                .icon {
                    font-size: 1.4rem;
                }
                .cart-count {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: -4px;
                    right: -2px;
                    background-color: var(--accent-color);
                    color: white;
                    font-size: 0.6rem;
                    border-radius: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Navbar {
        .nav-container {

            .nav-left {
                display: none;
            }

            .nav-center {
                position: static;
                transform: translateX(0);
            }
    
        }
    }
    
}